body{
  background: #000;
  color: #fff;
}
*{
  margin: 0;
  padding: 0;
}
header{
  height: 50px;
  background: white;
  color: black;
  overflow: hidden;
}
header ul{
  width: 45%;
  margin-left: 4%;
  display: inline-block;
  margin-top: 15px;
  display: inline-block;
}
header ul li{
  display: inline;
  margin-right: 10%;
  text-transform: capitalize;
}
header ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.underline{
text-decoration: underline;
}
.header-right-side{
  text-align: right;
}
.mobile-header{
  display: none;
}
@media screen and (max-width:765px)
and (min-width: 1px){
  .header-right-side{
    display: none;
  }
  header ul{
    width: 100%;
    margin-left: 4%;
    display: inline-block;
    margin-top: 15px;
  }
}
@media screen and (max-width: 350px)
and (min-width: 1px) {
  .desktop-header{
    display: none;
  }
  .mobile-header{
    display: inline-block;
  }
}

/* WARNING: HOUSE  */
.house-pic-box{
  overflow: hidden;
  border: 1px solid black;
  padding: 10px 5%;
}
 .box-2{
  float: left;
  width: 25%;
}
.pics-indicator{
}
.pics-indicator img{
  width: 48%;
  display: inline-block;
  height: 72px;
}
.img-active{
  border-radius: 25px;
}

.house-img{
  width: 75%!important;
  text-align: center;
}
@media screen and (max-width: 500px)
and (min-width: 1px){
  .pics-indicator{
    display: none;
  }
  .house-img{
    display: block!important;
    width: 100%!important;
  }
  .mobile-pic-indicator-box{
    display: block!important;
  }
}
.house-img img{
  width: 80%;
  height: 285px;
}
.specs-box {
  color: #99003b;
  background: #fff;
  overflow: hidden;
  padding: 2px;
  text-align: center;
}
.specs-box span{
  background: green;
  display: inline-block;
  width: 15%;
  text-align: center;
  color: #fff;
}
.specs-box i{
  font-size: 25px;
}

.house-info-box{
  background: #fff;
  color: black;
  padding: 10px 5%;
  font-size: 135%;
}
.house-name{
  font-family: verdana;
}
.mobile-pic-indicator-box{
  display: none;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.mobile-pic-indicator-box img{
  display: inline-block;
  width: 30%;
  height: 70px;
}

.seller-contact{
  width: 30%;
  background: blue;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-top: 30px;
  display: block;
  text-align: center;
  border-radius: 8px;
}
.price-box{
  text-align: center;
  padding: 5px;
  color: green;
  font-weight: bold;
  font-family: verdana;
}
tr{
  font-weight: bold;
}
